# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Virtual environments
venv/
env/
.venv/

# VSCode settings
# .vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
# data/